#MyGames{
  background-color: #9EF4FF;
  padding: 10% 10%;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 6.25rem;  /* 16px = 100% = 1em, rem = root "em" */
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  margin: auto 20px;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  width: 5%;
  border-width: 6px;
  margin: 50px auto;
}

p{
  line-height: 2;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.Personal-Desc{
  width: 500px;
  height: auto;
  margin: auto;
}

.GameScreen{
  width: 20%;
  float: left;
  margin: auto 30px 30px auto;
  border-radius: 15%
}

.Copyright {
  margin-bottom: 0;
  color: #EAF6F6;
  font-size: .75rem;
}

.contact-me{
  margin: 75px auto;
}

.contact-desc{
  margin-bottom: 60px;
}

.Top {
  margin-top: 0;
  position: relative;
  padding-top: 100px
}

.Middle {
  /* background-color: #FFF6BF; */
  padding-top: 60px;
  margin: 100px auto;
}

.Bottom {
  background-color: #66BFBF;
  margin: 25px auto 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.Pro {
  text-decoration: underline;
}

.Portrait{
  border-radius: 15%
}

.TopCloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.BotCloud {
  position: absolute;
  left: 200px;
  bottom: 200px;
}

.Name {
  position: relative;
  top: 40px;
  margin: 50px auto 0 auto;
}

.Desc {
  position: relative;
  top: 2.5rem;
}

.GameDesc {
  width: 500px;
  height: auto;
  margin: auto;
  text-align: left;
  line-height: 1.5;
}

.skill-row {
  display: inline-block;
  /* margin: auto 40px; */
  width: 50%;
  margin: 50px auto;
}

.GameName{
  text-align: left;
}

.GamePassword{
  margin: auto;
}

#MyName{
    background-color: #9EF4FF;
}

.navbar{
  margin: auto 0;
}

.nav-link{
  color: #66BFBF;
}

@media (max-width: 1297px)
{
  .GameScreen{
    width: 45%;
    float: left;
    margin: auto 30px 30px auto;
    border-radius: 15%
  }
}

@media (max-width: 1720px)
{
  .GameScreen{
    width: 45%;
    float: left;
    margin: auto 30px 30px auto;
    border-radius: 15%
  }
}
